@import 'variables';
@import 'bs-studio';

body{
	font-family: $mainFont;
	padding: 0px;
	margin: 0px;	
}

.quick-contact {
	background-color: $lightGray;
}

.alertInfo{
	display: flex;								
	background-color: $lightGray;
	padding: 0px 50px 0px 35px!important;

	.al2 {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $greenPrimary;
		color: #fff;
		font-size: 12px;				
		font-weight: bold;
		font-family: $mainFont;
		padding: 10px;
	}
	.al1 {
		display: flex;
		align-items: center;

		ul {
			list-style-type: none;
			margin-bottom: 0px;
			padding-left: 0px !important;

			li {
				list-style: none;
				display: inline-block;
				padding-left: 10px;
				font-size: smaller;
			}
		}		

		.fas, .far{
			color: $greenThird;
			padding: 0px 5px;			
		}
	}
}

a.nav-link {
	font-size: smaller;
	font-weight: bold;
}
a.nav-link.active{
	color: $greenThird !important;
}

a:hover.nav-link {
	color: $greenThird !important;
}

.navbar-brand img{
	height: 70px;
    margin-top: -8px;
    margin-bottom: -8px;
}

.main {
	background: $mainGray;
	height: auto;
	padding-bottom: 0px;
}

#testimonial_095{
	background-color: $mainGray !important;
	padding-top: 20px;

	h1 {
		color: white;
		font-weight: 600;		
	}

	h6 {
		color: white;
	}

	.testimonial_095_slide{
		margin-top: 3%;
		background: url('images/slider-1.jpg');
		background-size: 100%;
		background-position: center bottom;
		padding: 50px !important;
	}

	>.carousel-inner {
		width: 100% !important;
	}
}

/* ----------------------------------- */
.info{
	/* background: url('images/blue-white-art.png') no-repeat; 
	background-size: 100%;
	background-position: center top;
	*/
	background-color: lighten( $mainGray, 80% );
	height: auto;
	padding-right: 0px !important;
	padding-left: 0px !important;
	padding: 100px 0px;

		.card {
			background-color: rgba(0, 0, 0, 0.0) !important;
			display: flex;
			align-items: center;
			border: none !important;
			
			.card-img-top {
				width: 74px;
				margin-bottom: -35px;
				z-index: 2;
			}
			.products{
				width: 95%;
				padding-top: 20px;
				z-index: 3;
			}

			.card-body {
				flex: 1 1 auto;
			    padding: 3.25rem;
			    .card-img-top2 {
			    	width: 74px;
			    	margin-top: -35px;
			    	z-index: 2;
			    }
			    .products2{
			    	width: 95%;
			    	margin-top: -15px;
			    	z-index: 3;
			    }
			}

			.card_1 {
				background-color: $greenFourth;
				border-radius: 10px;
				color: white;
				text-align: center;
				width: 100%;
				height: auto;
				padding: 0px 0px 20px 0px !important;
				z-index: 1;
				h4{
					padding-top: 20px;
				}
			}

			.card_2 {
				background-color: $greenThird;
				border-radius: 10px;
				color: white;
				text-align: center;
				width: 100%;
				height: auto;
				padding: 0px 0px 20px 0px !important;
				h4{
					padding-top: 20px;
				}
			}

			.card_3 {
				background-color: $greenPrimary;
				border-radius: 10px;
				color: white;
				text-align: center;
				width: 100%;
				height: auto;
				padding: 0px 0px 20px 0px !important;

				@media (max-width: 992px){
					margin-top: 55px !important;
				}

				h4{
					padding-top: 20px;
				}
			}

			.card_4 {
				background-color: $greenSecodary;
				border-radius: 10px;
				color: white;
				text-align: center;
				width: 100%;
				height: auto;
				padding: 0px 0px 20px 0px !important;
				@media (max-width: 992px){
					margin-top: 55px !important;
				}
				h4{
					padding-top: 20px;
				}
			}
	}
}

.fa.fa-chevron-right{
	font-size: large !important;
}

.fa.fa-chevron-left{
	font-size: large !important;
}

.colCard2 {
	margin-top: 2rem;
}

.colCard3 {
	margin-top: 2rem;
}

.about{
	padding: 80px 0px;
	.whoBio {
		h6{
			color: $greenSecodary;
		}
		h2{
			color: $mainGray;
		}
	}	
}

.divShop{
		background-color: $mainGray;
		padding: 50px 0px;
		.shop{
		padding: 50px 0px;
		.mainShop {
			h6{
				color: $greenSecodary;
			}

			h2{
				color: white;
			}

			.btnShop {
				background-color: $mainGray;
				color: white;
				border: 1px solid $lightGray;
			}

			.form-control {
				background-color: $mainGray;
				color: white;
				border: 1px solid $lightGray;
			}

			ul{
				margin-left: 0px;
				padding-left: 0px;
			}

			ul li{
				list-style: none;
				color: white;
				padding: 10px 0px;
				border-bottom: 1px solid $lightGray;
				font-family: $mainFont;
			}
			li::before {
				content: "\2B9E";
				color: #54be73;
				padding-right: 8px;
				font-size: small;
			}
		}

		.cardShop {
				border-radius: 10px;
				background-color: white !important;
				height: auto;
				font-size: 14px;
				h6{
					font-weight: 700 !important;
					padding-bottom: 15px;
				}

				p{
					font-weight: 300 !important;
				}

				@media (max-width: 990px) {
					margin-top: 10px;
					margin-bottom: 10px;
				}
			}

		.news{
			height: 250px !important;

			.left{
				float: left;
			}
			.right{
				float: right;
				color: $greenPrimary;
			}
			h6{
				clear: both;
				padding-top: 10px;
			}
		}

		.upperCardShop {
			width: 100%;			
			height: auto;
			background-color: $lightGray;
			border-radius: 10px 10px 0px 0px;

			div:nth-child(1) {				
    								
				//padding-bottom: 50px;
				margin-left: 0px !important;
				margin-right: 0px !important;
			}

			div:nth-child(2) {
				margin-bottom: -60px;
			}
		}

		.card-body {
			padding: 1.25rem !important;
		}
	}	
}

.divGrowing {
	background-color: white;	
	padding: 50px;
	.growing {
		h6{
			color: $greenPrimary;			
		}
		h2{
			color: $mainGray;
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: #15191f;
	height: auto;	
	padding: 20px 0px;
	p {
		color: white;
		font-size: 13px;
		margin-top: 20px;
	}
	
	.icons-footer{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50px;
		height: 50px;
		border: 1px solid white;
		border-radius: 100%;
		color: white;
		margin: 0px 10px;
	}
}


.newsletter {
	padding: 50px 0px;
	height: auto;
	background-color: $greenThird;
	color: white;	

	h6 {
		font-size: 15px;
	}

	.form-control {
		margin: 0px 20px;
		background-color: rgba(0, 0, 0, 0.0);		
	}
	::placeholder{
		color: white;
	}

	.btn-light {
			color: $greenThird !important;
		}
}

.containerShop {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			height: 150px;
			width: 100%;
			padding-bottom: 0px !important;

			img {
				margin-bottom: 5px !important;
				margin-top: 5px;
				margin-left: 2px;
			}
		}

		.left {
			align-self: flex-start;
		}

		.right {
			align-self: flex-end;
}


.buynow {
		background-color: $greenSecodary;
		border: none;
		color: white;
		border-radius: 5px;
		font-size: 13px;
		padding: 15px 20px;
		margin-top: 20px;
		font-weight: bold;
	}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    top: 30%;
	@media (max-width: 768px){
		top: 10% !important;
	}
	
    h1 {
		text-shadow: 2px 2px 2px rgba(0,0,0,0.5);		
		font-family: $secondFont;
    }

    .h2gray {
    	text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    	color: $mainGray;
    	opacity: 0;
    }
}


.carousel-item {
  height: auto;
  /* min-height: 350px; */
  background: no-repeat top scroll;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  @media (min-width: 768px){
		height: auto !important;
	}
}


.testimonials {
	padding: 50px 0px;
}

.map{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.testi{
	p{
		font-style: italic;
		padding-top: 18px;
	}
}

.contact-us{
	background-color: $mainGray;
	padding: 50px 0px;
	color: white;

	ul{
		list-style: none;
		padding-left: 0px;
		margin-left: 0px;
		li{
			padding: 5px 0px;
			font-size: small; 
		}
	}

	.logo_footer {
		padding: 0px;
		@media (min-width: 576px){
			padding-bottom: 50px;
			text-align: center;
		}
	}
	
}

.boxDot{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 200px;
		height: 200px;
		border: dashed 1px white;
		border-radius: 10px;
		text-align: center;
		h1{
			padding: 2px;
		}
	}
#product_1{
	background: url('https://raulberina.github.io/bioquest/images/products.jpg') no-repeat;
	background-position: center center;
	background-size: 100%;
	border-radius: 10px 10px 0px 0px;
}

#product_2{
	background: url('https://raulberina.github.io/bioquest/images/products_2.jpg') no-repeat;
	background-position: center center;
	background-size: 100%;
	border-radius: 10px 10px 0px 0px;
}

#product_3{
	background: url('https://raulberina.github.io/bioquest/images/products_3.jpg') no-repeat;
	background-position: center center;
	background-size: 100%;
	border-radius: 10px 10px 0px 0px;
}

	.fa .fas .far{
		color: $greenPrimary !important;
	}


