body {
  font-family: Poppins;
  padding: 0px;
  margin: 0px;
}

.quick-contact {
  background-color: #dbdbdb;
}

.alertInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dbdbdb;
  padding: 0px 50px 0px 35px !important;
}
.alertInfo .al2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #78bf4d;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  font-family: Raleway;
  padding: 10px;
}
.alertInfo .al1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.alertInfo .al1 ul {
  list-style-type: none;
  margin-bottom: 0px;
  padding-left: 0px !important;
}
.alertInfo .al1 ul li {
  list-style: none;
  display: inline-block;
  padding-left: 10px;
  font-size: smaller;
}

a.nav-link {
  font-size: smaller;
  font-weight: bold;
}

a.nav-link.active {
  color: #54be73 !important;
}

a:hover.nav-link {
  color: #54be73 !important;
}

.navbar-brand img {
  height: 70px;
  margin-top: -8px;
  margin-bottom: -8px;
}

.main {
  background: #1f232b;
  height: auto;
  padding-bottom: 70px;
}

#testimonial_095 {
  background-color: #1f232b !important;
  padding-top: 20px;
}
#testimonial_095 h1 {
  color: white;
  font-weight: 600;
}
#testimonial_095 h6 {
  color: white;
}
#testimonial_095 .testimonial_095_slide {
  margin-top: 3%;
  background: url("images/slider-1.jpg");
  background-size: 100%;
  background-position: center bottom;
  padding: 50px !important;
}
#testimonial_095 .buynow {
  background-color: #9cc026;
  border: none;
  color: white;
  border-radius: 5px;
  font-size: 13px;
  padding: 7px 15px;
  margin-top: 20px;
  font-weight: bold;
}
#testimonial_095 > .carousel-inner {
  width: 100% !important;
}

.info {
  background: url("images/blue-white-art.png") no-repeat;
  background-size: 100%;
  background-position: center top;
  height: 360px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-top: 0px;
}

.fa.fa-chevron-right {
  font-size: large !important;
}

.fa.fa-chevron-left {
  font-size: large !important;
}

.card {
  background-color: rgba(0, 0, 0, 0) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none !important;
}
.card img {
  width: 74px;
  margin-bottom: -35px;
  z-index: 1;
}
.card .card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 3.25rem;
}
.card .card_1 {
  background-color: #669543;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.card .card_2 {
  background-color: #54be73;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.card .card_3 {
  background-color: #78bf4d;
  border-radius: 10px;
  color: white;
  text-align: center;
}
.card .card_4 {
  background-color: #9cc026;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.colCard2 {
  margin-top: 2rem;
}

.colCard3 {
  margin-top: 2rem;
}

.about {
  padding: 50px 0px;
}
.about .whoBio h6 {
  color: #9cc026;
}
.about .whoBio h2 {
  color: #1f232b;
}

.divShop {
  background-color: #1f232b;
  padding: 50px 0px;
}
.divShop .shop {
  padding: 50px 0px;
}
.divShop .shop .mainShop h6 {
  color: #9cc026;
}
.divShop .shop .mainShop h2 {
  color: white;
}
.divShop .shop .mainShop .btnShop {
  background-color: #1f232b;
  color: white;
  border: 1px solid #dbdbdb;
}
.divShop .shop .mainShop .form-control {
  background-color: #1f232b;
  color: white;
  border: 1px solid #dbdbdb;
}
.divShop .shop .cardShop {
  border-radius: 10px;
  background-color: white !important;
  height: 300px;
  font-size: 14px;
}
.divShop .shop .cardShop h6 {
  font-weight: 700 !important;
  padding-bottom: 15px;
}
.divShop .shop .cardShop p {
  font-weight: 300 !important;
}
.divShop .shop .upperCardShop {
  width: 100%;
  height: auto;
  background-color: #dbdbdb;
  border-radius: 10px 10px 0px 0px;
}
.divShop .shop .upperCardShop div:nth-child(1) {
  padding-bottom: 50px;
}
.divShop .shop .upperCardShop div:nth-child(2) {
  margin-bottom: -60px;
}
.divShop .shop .card-body {
  padding: 1.25rem !important;
}

.divGrowing {
  background-color: white;
  padding: 50px;
}
.divGrowing .growing h6 {
  color: #78bf4d;
}
.divGrowing .growing h2 {
  color: #1f232b;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1f232b;
  height: 100px;
}
.footer p {
  color: white;
  font-size: 13px;
  margin-top: 20px;
}

.newsletter {
  padding: 50px 0px;
  height: auto;
  background-color: #54be73;
  color: white;
}
.newsletter h6 {
  font-size: 15px;
}
.newsletter .form-control {
  margin: 0px 20px;
  background-color: rgba(0, 0, 0, 0);
}
.newsletter .btn-light {
  color: #54be73 !important;
}

::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

::placeholder {
  color: white;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */