$greenPrimary: #78bf4d;
$greenSecodary: #9cc026;
$greenThird: #54be73;
$greenFourth: #669543;
$mainFont: Raleway;
$secondFont: Poppins;

$mainGray: #1f232b;
$lightGray: #dbdbdb;


body{
	font-family: $secondFont;
	padding: 0px;
	margin: 0px;	
}

.quick-contact {
	background-color: $lightGray;
}

.alertInfo{
	display: flex;								
	background-color: $lightGray;
	padding: 0px 50px 0px 35px!important;

	.al2 {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $greenPrimary;
		color: #fff;
		font-size: 12px;				
		font-weight: bold;
		font-family: $mainFont;
		padding: 10px;
		
	}

	.al1 {
		display: flex;
		align-items: center;

		ul {
			list-style-type: none;
			margin-bottom: 0px;
			padding-left: 0px !important;

			li {
				list-style: none;
				display: inline-block;
				padding-left: 10px;
				font-size: smaller;
			}
		}		
	}
}

a.nav-link {
	font-size: smaller;
	font-weight: bold;
}
a.nav-link.active{
	color: $greenThird !important;
}

a:hover.nav-link {
	color: $greenThird !important;
}


.navbar-brand img{
	height: 70px;
    margin-top: -8px;
    margin-bottom: -8px;
}


.main {
	background: $mainGray;
	height: auto;
	padding-bottom: 70px;
}

#testimonial_095{
	background-color: $mainGray !important;
	padding-top: 20px;

	h1 {
		color: white;
		font-weight: 600;		
	}

	h6 {
		color: white;
	}

	.testimonial_095_slide{
		margin-top: 3%;
		background: url('images/slider-1.jpg');
		background-size: 100%;
		background-position: center bottom;
		padding: 50px !important;
	}

	>.carousel-inner {
		width: 100% !important;
	}
}


.info{
	background: url('images/blue-white-art.png') no-repeat;
	background-size: 100%;
	background-position: center top;
	height: auto;
	padding-right: 0px !important;
	padding-left: 0px !important;
	padding-top: 0px;
}

.fa.fa-chevron-right{
	font-size: large !important;
}

.fa.fa-chevron-left{
	font-size: large !important;
}

.card {
	background-color: rgba(0, 0, 0, 0.0) !important;
	display: flex;
	align-items: center;
	border: none !important;

	img {
		width: 74px;
		margin-bottom: -35px;
		z-index: 1;
	}

	.card-body {
		flex: 1 1 auto;
	    padding: 3.25rem;
	}

	.card_1 {
		background-color: $greenFourth;
		border-radius: 10px;
		color: white;
		text-align: center;
	}

	.card_2 {
		background-color: $greenThird;
		border-radius: 10px;
		color: white;
		text-align: center;
	}

	.card_3 {
		background-color: $greenPrimary;
		border-radius: 10px;
		color: white;
		text-align: center;
	}

	.card_4 {
		background-color: $greenSecodary;
		border-radius: 10px;
		color: white;
		text-align: center;
	}
}

.colCard2 {
	margin-top: 2rem;
}

.colCard3 {
	margin-top: 2rem;
}

.about{
	padding: 80px 0px;
	.whoBio {
		h6{
			color: $greenSecodary;
		}
		h2{
			color: $mainGray;
		}
	}	
}

.divShop{
		background-color: $mainGray;
		padding: 50px 0px;
		.shop{
		padding: 50px 0px;
		.mainShop {
			h6{
				color: $greenSecodary;
			}

			h2{
				color: white;
			}

			.btnShop {
				background-color: $mainGray;
				color: white;
				border: 1px solid $lightGray;
			}

			.form-control {
				background-color: $mainGray;
				color: white;
				border: 1px solid $lightGray;
			}
			
		}

		.cardShop {
				border-radius: 10px;
				background-color: white !important;
				height: 300px;
				font-size: 14px;
				h6{
					font-weight: 700 !important;
					padding-bottom: 15px;
				}

				p{
					font-weight: 300 !important;
				}
			}
		
		.upperCardShop {
			width: 100%;			
			height: auto;
			background-color: $lightGray;
			border-radius: 10px 10px 0px 0px;

			div:nth-child(1) {				
    								
				//padding-bottom: 50px;
				margin-left: 0px !important;
				margin-right: 0px !important;
			}

			div:nth-child(2) {
				margin-bottom: -60px;
			}
		}

		.card-body {
			padding: 1.25rem !important;
		}
	}	
}

.divGrowing {
	background-color: white;	
	padding: 50px;
	.growing {
		h6{
			color: $greenPrimary;			
		}
		h2{
			color: $mainGray;
		}
	}
}

.footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $mainGray;
	height: 100px;	
	p {
		color: white;
		font-size: 13px;
		margin-top: 20px;
	}
}


.newsletter {
	padding: 50px 0px;
	height: auto;
	background-color: $greenThird;
	color: white;	

	h6 {
		font-size: 15px;
	}

	.form-control {
		margin: 0px 20px;
		background-color: rgba(0, 0, 0, 0.0);		
	}

	.btn-light {
			color: $greenThird !important;
		}
}

.containerShop {
			display: flex;
			justify-content: space-between;
			flex-direction: column;
			height: 150px;
			width: 100%;
			padding-bottom: 0px !important;

			img {
				margin-bottom: 5px !important;
				margin-top: 5px;
				margin-left: 2px;
			}
		}

		.left {
			align-self: flex-start;
		}

		.right {
			align-self: flex-end;
}


.buynow {
		background-color: $greenSecodary;
		border: none;
		color: white;
		border-radius: 5px;
		font-size: 13px;
		padding: 15px 20px;
		margin-top: 20px;
		font-weight: bold;
	}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    top: 30%;

    h1 {
		text-shadow: 2px 2px 2px rgba(0,0,0,0.5);		
    }

    .h2gray {
    	text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
    	color: $mainGray;
    }
}
