.carousel-item {
  height: 70vh;
  min-height: 350px;
  background: no-repeat top scroll;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
}

